<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> | Party Line.orgy</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/chat.js"></script>
	</head>
	<body>
		<header id="Header">
			<h1 class="Heading1">The Party Line Has Begun</h1>
			<h2 class="Heading2">Come Join in!!!</h2>
		</header>
		<article id="Body">
			<%- body %>
		</article>
		<footer id="Footer"><small>&copy;2011. <abbr titl="Carthy Allen Newton">CAN</abbr></small></footer>
	</body>
</html>
